<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/lenovo/IdeaProjects/APIAutomationRestAssured5X">
    <classes>
        <class name="TESTINGCLASS.TEST.CRUD.GET.BDDStyleusingTestNg">
            <methods>
                <include name="get_All_BookingsPos"/>
                <include name="get_All_BookingsPos1"/>
                <include name="get_All_BookingsNeg"/>
            </methods>
        </class>
    </classes>
</test>
</suite>